<h1><%= @place.name%></h1>

<h2>Things I did</h2>
<ul>
    <% for post in @place.posts %>
        <li>
        <%= post.title %>, <%= post.description%>, <%= post.posted_on%>   
        </li>
        <% end %>
</ul>

<a href="/posts/new?place_id=<%=@place.id%>">Create Post</a>

<a href="/places">Return To All Places</a>